.App{
    position:relative;
    overflow-x:clip;
}
.App>:nth-child(1){
  background-color: black;  
  position:relative;
}
.white-gradient{
    position:absolute;
    width:8rem;
    height:100%;
    background:rgba(255,255,255,0.522);
   filter:blur(100px);

}
